body {
  /* background: rgb(204, 204, 204); */
  background: rgb(256, 256, 256);

  width: 1250px;
  height: auto;
  /* height: 1000px; */
}
section[size="A4"] {
  background: white;
  width: 28.1cm;
  height: 23.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(236, 233, 233, 0.5);
  border: 1.25cm solid #000; */
  
}
@media print  {
  body, section[size="A4"]  {
    margin: 0;
    padding-left:5px;
    box-shadow: 0;   

  }
  
}




.senderLine {
  border-top: 5px solid #000000 !important;
  width: 300px;
  margin-left: 0px;
}

.custom-table {
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 2px solid #615f5f;
  text-align: left;
}



.custom-table td {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-table th {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-table2 {
  border-collapse: collapse;
}

.custom-table2 th,
.custom-table2 td {
  border: 2px solid #615f5f;
  text-align: left;
}

.custom-table2 thead {
  height: 40px;
  text-align: center;
}
.custom-table2 th {
  text-align: center;
}
.custom-table3 {
  border-collapse: collapse;
  display: flex;
  justify-content: flex-end;
}
.table.custom-table3 {
  width: auto;
}
.custom-table3 th,
.custom-table3 td {
  border: 2px solid #615f5f;
  text-align: right;
}
.custom-table3 th {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sebeb-container {
  border: 2px solid #615f5f;
}

.container {
  padding: 0;
}
.container #fotoraf {
  position: absolute ;
  width: 100px;
  height: 20%;
  margin-left: 140px;
  margin-top: 80px;
  display: inline-block;

}

.container > .row > #fotoraf .fotorafimg {
  max-width: 100%;
  height: auto;
}


.container2 {
  display: flex;
  margin-top: 60px;

  justify-content: space-between; 
}

#ettn {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}


.rowtablo {
  width: 100%;
}

.custom-table2 {
  width: 100%;
  table-layout: fixed;
}

.custom-table2 th,
.custom-table2 td {
  width: auto; 
  box-sizing: border-box;
  text-align: center;
}
.rowtablo{
  padding-top: 15px;
}


.table-container2{
  margin-bottom: 15px;
}
.sebeb-container{
  margin-top:15px;
  width: 100%;
  height: auto;
  font-size: 14px; 

}
