<div class="container mt-4">
  <div class="card">
    <button class="btn btn-primary btn-sm float-right" (click)="showFormModal()">ADD</button>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': isFormModalVisible || isEditMode}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ isEditMode ? 'Edit Customer' : 'Add Customer' }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="hideFormModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="save()">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control"
              placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control"
              placeholder="Enter Last Name">
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" [(ngModel)]="dob" name="dob" class="form-control">
          </div>
          <div class="form-group">
            <label>Gender</label>
            <select [(ngModel)]="gender" name="gender" class="form-control">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" [(ngModel)]="address" name="address" class="form-control" placeholder="Enter Address">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Submit' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center">
  <h1 style="margin-right: 20px;">Customer Table</h1>
  <div class="form-group" style="width: 500px;">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
  </div>
  <div class="dropdown" (click)="dropdownClicked($event)">
    <button class="btn btn-primary dropdown-toggle" type="button" id="sortDropdown"
      [attr.aria-expanded]="isDropdownOpen ? 'true' : 'false'" (click)="toggleDropdown()">
      Date Added
    </button>
    <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="sortDropdown">
      <button class="dropdown-item" (click)="sortCustomers('newest')">Yeniden-Eskiye</button>
      <button class="dropdown-item" (click)="sortCustomers('oldest')">Eskiden-Yeniye</button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="table-responsive">
    <table class="table text-center" style="padding: 0; width: 450px; height: auto">
      <tbody *ngFor="let customer of getFilteredCustomers() searchFilter: searchText" style="border: 1px solid black;">
        <tr>
          <td colspan="4" style="width: 25%; text-align: right;">
            <button type="button" class="btn btn-success mr-2" (click)="setUpdate(customer)"
              style="width: 40px; height: 40px;">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="setDelete(customer)"
              style="width: 40px; height: 40px;">
              <i class="fas fa-trash"></i>
            </button>

          </td>
        </tr>
        <tr>
          <td style=" padding: 10px; width: 50px; height: 75px; position: relative;">
            <span
              style="position: absolute; top: -1px; left: 28px; color: black; font-weight: lighter; font-size: 0.8em; width: 80%;">First
              Name</span>
            {{ customer.firstName | uppercase }}
          </td>
          <td style=" padding: 10px; width: 50px; height: 75px; position: relative;">
            <span
              style="position: absolute; top: -1px; left: 23px; color: black; font-weight: lighter; font-size: 0.8em; width: 80%;">Last
              Name</span>
            {{ customer.lastName }}
          </td>
          <td style=" width: 50px; height: 75px; position: relative;">
            <span
              style="position: absolute;top: -1px; left: 15px; color: black; font-weight: lighter; font-size: 0.8em; width: 80%;">Gender</span>
            {{ customer.gender }}
          </td>
        </tr>
        <tr>
          <td colspan="1" style="width: 50px; height: 75px; position: relative;">
            <span
              style="position: absolute; top: -1px; left: 28px; color: black; font-weight: lighter; font-size: 0.8em; width: 80%;">Date
              of Birth</span>
            {{ customer.dob }}
          </td>
          <td colspan="2" style=" padding: 5px; width: 50px; height: 75px; position: relative;">
            <span
              style="position: absolute; top: -1px; left: 28px; color: black; font-weight: lighter; font-size: 0.8em; width:80%;">Address</span>
            {{ customer.address }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>