.btn {
  &.btn-primary {
    // Örnek özellikler
    background-color: blue;
    color: white;

    // Hover durumu için özellikler
    &:hover {
      background-color: darkblue;
    }

    // Aktif durumu için özellikler
    &:active {
      background-color: navy;
    }

    // Diğer durumlar için özellikler...
  }
}

.modal-dialog {
  max-width: 600px;
  margin: 50px auto;
}

.form-group {
  display: flex;
  align-items: center;
}
.form-group label {
  width: 150px;
  margin-right: 10px;
}

.modal-content {
  background-color: #f0f0f0;
}
.modal-header {
  background-color: #007bff;
  color: white;
}
.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-sm {
  width: 90px;
  height: 40px;
  margin-left: auto;
}
.card {
  border: none;
  box-shadow: none;
}

.table td {
  padding: 0;
}
.table thead th {
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
}
.table td {
  vertical-align: middle;
}

  // th,
  // td {
  //   padding: 10px;
  // }
  div {
    // background-color :cyan;
    color: black;
    padding: 20px;
  }
  .btn-success {
    font-size: 20px;
  }

  